APP_NAME="Super Resolution FastAPI Dev Server" 
BROKER_URI=amqp://<user_name>:<password>@<rabbitmq_container_name>:5672/<rabbitmq_vhost_name>
FIREBASE_DATABASE_URL=<firebase_realtime_database_url>
FIREBASE_STORAGE_BUCKET=<firebase_storage_url>
FIREBASE_APP_NAME=super-resolution
